API_PORT=8081
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
APP_DEFAULT_TENANT_ID=1
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/fofoqueirodb
SPRING_DATASOURCE_USERNAME=fofoqueiro
SPRING_DATASOURCE_PASSWORD=fofoqueiro
